@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,
p {
  font-family: "Lora", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
}

p {
  margin-top: -1rem;
  margin-bottom: 2rem;
  line-height: 1rem;
}

span {
  transition: opacity 5s;
  opacity: 1;
}

.transparent {
  opacity: 0;
}

a,
a:visited {
  color: #3dbdd5;
}

.content {
  height: 100%;
  flex-direction: column;
}

.content header {
  height: 20vh;
  overflow: scroll;
}

h1 {
  font-family: "Lora", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: black;
}

#map {
  height: 80vh;

  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100vw;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.miku {
  font-size: 10px;
  display: block;
  padding: 0;
  position: relative;
  border: none !important;
  animation: fade-in 3s;
}

.miku .preview,
.miku .article {
  position: relative;
  left: 0;
  top: 0;
}

.miku .preview {
  display: inline;
  z-index: 10;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.miku img {
  width: 4em !important;
}

/* TODO: mobile sizing */

.miku article {
  height: 100%;
  background: white;
  z-index: 0;
  /* display: none; */
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  transform: translateX(0px);
}

.miku:hover article {
  opacity: 1;
  transform: translateX(75px);
}