@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html,
p {
  font-family: "Lora", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
}

.content {
  height: 100%;
  flex-direction: column;
}

.content header {
  height: 20vh;
  overflow: scroll;
}

h1 {
  font-family: "Lora", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: black;
}

#map {
  height: 80vh;

  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100vw;
}

.miku {
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  padding: 0;
}