.content {
  height: 100%;
  flex-direction: column;
}

.content header {
  height: 20vh;
  overflow: scroll;
}

#map {
  height: 80vh;

  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  width: 100vw;
}